@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap');
body{
    background: #E5E5E5;
    font-family: 'Poppins', sans-serif;
}
#toparea{
    width: 870px;
    height: 679;
    margin-top: 130px;
    margin-left: 285px;
    border-radius: 5px;
    background: #FFFFFF;
    padding: 33px 0 0 33px;
}
.topplayer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.player img{
    width: 56px;
    height: 56px;
}
.player{
    display: flex;
    align-items: center;
    grid-gap: 16px;
}
hr{
    border: 1px solid #d1d1d1;
    width: 807px;
    margin: 30px 33px 30px 0;
}
.topblog{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.blog{
    display: flex;
    grid-gap: 16px;
    margin-bottom: 26px;
}
.blogimage img{
    width: 177px;
    height: 117px;
}
#bottom{
    width: 870px;
    height: 362px;
    margin-top: 24px;
    margin-left: 285px;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 23px 36px 22.21px 28px;
    font-family: 'Roboto', sans-serif;
}
.course{
    display: flex;
    justify-content: center;
}
.coursebox{
    padding: 11px 17.42px 16.03px 11px;
    background-color: #FFFFFF;
    filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05)); 
}
.courseimage img{
    width: 224px;
    height: 104px;
}